node-red/gui_plantas.json
[
    {
        "id": "a571ddd.ecbd92",
        "type": "tab",
        "label": "Embebidos MUISE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eae7d9b8.c24bc8",
        "type": "mqtt in",
        "z": "a571ddd.ecbd92",
        "name": "",
        "topic": "planta/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "d6bdc52f.09fd08",
        "x": 310.75001525878906,
        "y": 207.50001096725464,
        "wires": [
            [
                "151e9969.65a537",
                "39b7f315.3f0a4c",
                "68dd3f4f.02911"
            ]
        ]
    },
    {
        "id": "151e9969.65a537",
        "type": "debug",
        "z": "a571ddd.ecbd92",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 537.2500152587891,
        "y": 312.50001096725464,
        "wires": []
    },
    {
        "id": "39b7f315.3f0a4c",
        "type": "ui_chart",
        "z": "a571ddd.ecbd92",
        "name": "",
        "group": "542d20fb.f3a6b",
        "order": 1,
        "width": "13",
        "height": "8",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "TEMPERATURA",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 551.2500152587891,
        "y": 182.50001096725464,
        "wires": [
            []
        ]
    },
    {
        "id": "7dcc422a.214b7c",
        "type": "ui_switch",
        "z": "a571ddd.ecbd92",
        "name": "",
        "label": "Activación de riego",
        "tooltip": "",
        "group": "d7161435.e129d8",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 1045.5,
        "y": 526,
        "wires": [
            [
                "5b7f9ce7.e8a484",
                "c434e868.572da8",
                "11a7013d.e99b0f"
            ]
        ]
    },
    {
        "id": "5b7f9ce7.e8a484",
        "type": "mqtt out",
        "z": "a571ddd.ecbd92",
        "name": "",
        "topic": "relay/activation",
        "qos": "",
        "retain": "",
        "broker": "d6bdc52f.09fd08",
        "x": 1277,
        "y": 524,
        "wires": []
    },
    {
        "id": "c434e868.572da8",
        "type": "debug",
        "z": "a571ddd.ecbd92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1274,
        "y": 634,
        "wires": []
    },
    {
        "id": "622b4826.393048",
        "type": "mqtt in",
        "z": "a571ddd.ecbd92",
        "name": "",
        "topic": "planta/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "d6bdc52f.09fd08",
        "x": 294.75001525878906,
        "y": 375.50001096725464,
        "wires": [
            [
                "57caba55.777dc4",
                "973a9346.1fbd1",
                "cfbfe7aa.f5efb8"
            ]
        ]
    },
    {
        "id": "57caba55.777dc4",
        "type": "debug",
        "z": "a571ddd.ecbd92",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 531.2500152587891,
        "y": 480.50001096725464,
        "wires": []
    },
    {
        "id": "973a9346.1fbd1",
        "type": "ui_chart",
        "z": "a571ddd.ecbd92",
        "name": "HUMEDAD DEL AIRE",
        "group": "542d20fb.f3a6b",
        "order": 2,
        "width": "13",
        "height": "8",
        "label": "Humedad del aire",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 623.2500152587891,
        "y": 378.50001096725464,
        "wires": [
            []
        ]
    },
    {
        "id": "8731791.fe4a988",
        "type": "mqtt in",
        "z": "a571ddd.ecbd92",
        "name": "",
        "topic": "planta/lux",
        "qos": "2",
        "datatype": "auto",
        "broker": "d6bdc52f.09fd08",
        "x": 280.75001525878906,
        "y": 568.5000109672546,
        "wires": [
            [
                "9063501e.c4d38",
                "f9474cc2.b5477",
                "d0c1a632.7b9918"
            ]
        ]
    },
    {
        "id": "9063501e.c4d38",
        "type": "debug",
        "z": "a571ddd.ecbd92",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 537.2500152587891,
        "y": 673.5000109672546,
        "wires": []
    },
    {
        "id": "f9474cc2.b5477",
        "type": "ui_chart",
        "z": "a571ddd.ecbd92",
        "name": "",
        "group": "542d20fb.f3a6b",
        "order": 5,
        "width": "13",
        "height": "8",
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "LUMINOSIDAD",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 599.2500152587891,
        "y": 571.5000109672546,
        "wires": [
            []
        ]
    },
    {
        "id": "b758f957.6e0928",
        "type": "mqtt in",
        "z": "a571ddd.ecbd92",
        "name": "",
        "topic": "planta/soil_humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "d6bdc52f.09fd08",
        "x": 300.75001525878906,
        "y": 728.5000109672546,
        "wires": [
            [
                "eb3ae199.b05ec",
                "6801e669.5f9f68",
                "3f2e23d4.309efc"
            ]
        ]
    },
    {
        "id": "eb3ae199.b05ec",
        "type": "debug",
        "z": "a571ddd.ecbd92",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 527.2500152587891,
        "y": 833.5000109672546,
        "wires": []
    },
    {
        "id": "6801e669.5f9f68",
        "type": "ui_chart",
        "z": "a571ddd.ecbd92",
        "name": "",
        "group": "542d20fb.f3a6b",
        "order": 6,
        "width": "13",
        "height": "8",
        "label": "Humedad del suelo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "HUMEDAD DEL SUELO",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 609.2500152587891,
        "y": 731.5000109672546,
        "wires": [
            []
        ]
    },
    {
        "id": "8584cff7.28c3c",
        "type": "mqtt in",
        "z": "a571ddd.ecbd92",
        "name": "",
        "topic": "relay/activation",
        "qos": "2",
        "datatype": "auto",
        "broker": "d6bdc52f.09fd08",
        "x": 849.5000152587891,
        "y": 526.0000076293945,
        "wires": [
            [
                "7dcc422a.214b7c"
            ]
        ]
    },
    {
        "id": "9f67cf99.0516d",
        "type": "inject",
        "z": "a571ddd.ecbd92",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 275.25001525878906,
        "y": 268.50001096725464,
        "wires": [
            []
        ]
    },
    {
        "id": "11a7013d.e99b0f",
        "type": "mqtt out",
        "z": "a571ddd.ecbd92",
        "name": "",
        "topic": "relay/status",
        "qos": "",
        "retain": "",
        "broker": "d6bdc52f.09fd08",
        "x": 1269,
        "y": 470,
        "wires": []
    },
    {
        "id": "68dd3f4f.02911",
        "type": "ui_gauge",
        "z": "a571ddd.ecbd92",
        "name": "",
        "group": "d7161435.e129d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Actual",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 572.7500152587891,
        "y": 219.50001096725464,
        "wires": []
    },
    {
        "id": "cfbfe7aa.f5efb8",
        "type": "ui_gauge",
        "z": "a571ddd.ecbd92",
        "name": "",
        "group": "d7161435.e129d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad Actual",
        "label": "%RH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff8000",
            "#00ff00",
            "#00ffff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 602.7500152587891,
        "y": 420.50001096725464,
        "wires": []
    },
    {
        "id": "d0c1a632.7b9918",
        "type": "ui_gauge",
        "z": "a571ddd.ecbd92",
        "name": "",
        "group": "d7161435.e129d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosdad Actual",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#804040",
            "#ff8000",
            "#ffffff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 619.7500152587891,
        "y": 609.5000109672546,
        "wires": []
    },
    {
        "id": "3f2e23d4.309efc",
        "type": "ui_gauge",
        "z": "a571ddd.ecbd92",
        "name": "",
        "group": "d7161435.e129d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad de suelo Actual",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ff8000",
            "#00ff00",
            "#0000ff"
        ],
        "seg1": "",
        "seg2": "",
        "x": 628.7500152587891,
        "y": 766.5000109672546,
        "wires": []
    },
    {
        "id": "6c50a7d6.0f2ce8",
        "type": "inject",
        "z": "a571ddd.ecbd92",
        "name": "RESET ALL",
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 122.75001907348633,
        "y": 506.0000171661377,
        "wires": [
            [
                "39b7f315.3f0a4c",
                "973a9346.1fbd1",
                "f9474cc2.b5477",
                "6801e669.5f9f68",
                "68dd3f4f.02911",
                "cfbfe7aa.f5efb8",
                "d0c1a632.7b9918",
                "3f2e23d4.309efc"
            ]
        ]
    },
    {
        "id": "d6bdc52f.09fd08",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT Embebidos MUISE",
        "broker": "farmer.cloudmqtt.com",
        "port": "21110",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "542d20fb.f3a6b",
        "type": "ui_group",
        "z": "",
        "name": "Histórico de condiciones ambientales",
        "tab": "833e73c4.aec5b",
        "disp": true,
        "width": "27",
        "collapse": false
    },
    {
        "id": "d7161435.e129d8",
        "type": "ui_group",
        "z": "",
        "name": "Control de riego",
        "tab": "833e73c4.aec5b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "833e73c4.aec5b",
        "type": "ui_tab",
        "z": "",
        "name": "Sistema de monitorización para plantas",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]